a.nav-link {
    color: #007bff;
    font-weight: bold;
}

a.nav-link:hover {
    color: white;
    background-color: #007bff;
}

body {
    background-image: url("../eggcoop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}